body {
  font-family: 'Assistant', sans-serif;

  line-height: 1.5;
    font-size: 20px;

}
.background{
    background-color: #f5e7c8;

}
.container {
  max-width: 800px;
  margin: auto;
  padding: 40px;
  
}
.titel_img{
  
  background: url(wini.jpg) center;
  background-size: cover;
  height:500px;
}

h1 {
  font-family: 'Amatic SC', sans-serif;
  color: #927313;
  text-align: center;
  font-size: 50px;
  padding: 20px;

}
.links{
    
    display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 25px;


}


button {
    font-size: 25px;
min-width: 200px;
  background-color:burlywood;

}

.topic {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-gap: 25px;
}

.img_colm {

  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  
}

img {
  max-width: 100%;
  
  width: 1000px;
  height: auto;
  display: block;
  margin: auto;
  
}
