body {
  font-family: 'M PLUS Rounded 1c', sans-serif;
  
  margin: 10;
  line-height: 1.5;
}

.container {
  max-width: 800px;
  margin: auto;
}

.titel {
  background-color:#f5e7c8; 
  color:blueviolet;
      text-align: center;

}

a{
  color: #blueviolet;
      font-size:30px; 

}

button{
    background-color:#f5e7c8; 
  
}

.topic {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-gap: 25px;
}

.img_colm{
    background-color:#f5e7c8; 

    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-gap: 25px;
}

img {
  max-width: 100%;
    width: 1000px;
    height: auto;
    display: block;
    margin:auto
}
